body, h1 {
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
}

.name-wrapper {
  height: 100vh;
}

.name {
  position: relative;
  text-align: center;
  font-size: 20vh;
  top: 50%;
  margin-top: -20vh;
}
